# Feature Engineering on DK Housing Prices Dataset

## Identification of Attribute Types

In [22]:
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Load the dataset
df = pd.read_csv('DKHousingPricesSample100k.csv')

# Display the first few rows of the dataset
df.head()

,date,quarter,house_id,house_type,sales_type,year_build,purchase_price,%_change_between_offer_and_purchase,no_rooms,sqm,sqm_price,address,zip_code,city,area,region,nom_interest_rate%,dk_ann_infl_rate%,yield_on_mortgage_credit_bonds%
0,2024-10-24,2024Q4,16,Villa,regular_sale,1997,6500000,-3.0,5,142.0,45774.650,Spættevej 16,2680,Solrød Strand,"Capital, Copenhagen",Zealand,3.1,NaN,NaN
1,2024-10-24,2024Q4,13,Apartment,regular_sale,1885,3400000,0.0,2,46.0,73913.050,"Jakob Dannefærds Vej 10B, 4. th",1973,Frederiksberg C,"Capital, Copenhagen",Zealand,3.1,NaN,NaN
2,2024-10-23,2024Q4,60,Villa,regular_sale,1949,4550000,-4.0,4,112.0,40625.000,Vestre Plantagevej 3,2680,Solrød Strand,"Capital, Copenhagen",Zealand,3.1,NaN,NaN
3,2024-10-23,2024Q4,29,Villa,regular_sale,2001,1630000,-12.0,4,186.0,8763.440,Toftebjerg 3,4400,Kalundborg,Other islands,Zealand,3.1,NaN,NaN
4,2024-10-22,2024Q4,92,Apartment,regular_sale,1965,1975000,-10.0,3,82.0,24085.365,"Ryttergårdsvej 20, 1. 113",3520,Farum,North Zealand,Zealand,3.1,NaN,NaN

## Handling Missing Data

In [23]:
# Check for missing data
missing_data = df.isnull().sum()
missing_data[missing_data > 0]

city                               11
dk_ann_infl_rate%                  77
yield_on_mortgage_credit_bonds%    77
dtype: int64

### Explanation: Handling missing data is crucial to ensure the integrity of the dataset. We will use different techniques such as imputation or removal based on the nature and amount of missing data.

In [24]:
# Impute missing data with mean for numeric columns and mode for categorical columns
for col in df.columns:
    if df[col].dtype == 'object':
        # Use direct assignment instead of inplace=True
        df[col] = df[col].fillna(df[col].mode()[0])
    else:
        # Use direct assignment instead of inplace=True
        df[col] = df[col].fillna(df[col].mean())

<ipython-input-24-d0644c986ecd>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
<ipython-input-24-d0644c986ecd>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

date                                   0
quarter                                0
house_id                               0
house_type                             0
sales_type                             0
year_build                             0
purchase_price                         0
%_change_between_offer_and_purchase    0
no_rooms                               0
sqm                                    0
sqm_price                              0
address                                0
zip_code                               0
city                                   0
area                                   0
region                                 0
nom_interest_rate%                     0
dk_ann_infl_rate%                      0
yield_on_mortgage_credit_bonds%        0
dtype: int64

## Normalization of Numeric Attributes

In [25]:
# Normalize numeric attributes
numeric_cols = df.select_dtypes(include=[np.number]).columns
df[numeric_cols] = (df[numeric_cols] - df[numeric_cols].mean()) / df[numeric_cols].std()
df.head()

,date,quarter,house_id,house_type,sales_type,year_build,purchase_price,%_change_between_offer_and_purchase,no_rooms,sqm,sqm_price,address,zip_code,city,area,region,nom_interest_rate%,dk_ann_infl_rate%,yield_on_mortgage_credit_bonds%
0,2024-10-24,2024Q4,-1.731749,Villa,regular_sale,0.917247,2.572801,-0.188600,0.375649,0.220606,2.150685,Spættevej 16,-1.380463,Solrød Strand,"Capital, Copenhagen",Zealand,0.693693,-1.355742e-16,0.0
1,2024-10-24,2024Q4,-1.731755,Apartment,regular_sale,-1.533327,0.829104,0.429584,-1.429747,-1.458578,4.211324,"Jakob Dannefærds Vej 10B, 4. th",-1.678783,Frederiksberg C,"Capital, Copenhagen",Zealand,0.693693,-1.355742e-16,0.0
2,2024-10-23,2024Q4,-1.731647,Villa,regular_sale,-0.132999,1.475959,-0.394661,-0.226150,-0.304139,1.773565,Vestre Plantagevej 3,-1.380463,Solrød Strand,"Capital, Copenhagen",Zealand,0.693693,-1.355742e-16,0.0
3,2024-10-23,2024Q4,-1.731719,Villa,regular_sale,1.004767,-0.166491,-2.043151,-0.226150,0.990232,-0.559729,Toftebjerg 3,-0.654706,Kalundborg,Other islands,Zealand,0.693693,-1.355742e-16,0.0
4,2024-10-22,2024Q4,-1.731574,Apartment,regular_sale,0.217083,0.027566,-1.631028,-0.827948,-0.828884,0.562330,"Ryttergårdsvej 20, 1. 113",-1.026024,Farum,North Zealand,Zealand,0.693693,-1.355742e-16,0.0

### Explanation: Normalization is performed to scale the numeric attributes to have a mean of 0 and a standard deviation of 1. This helps in improving the performance of machine learning algorithms.

## Analysis of the 5 Most Expensive Cities and Cities with Maximum Unique Zip Codes

In [26]:
# 5 most expensive cities
expensive_cities = df.groupby('city')['purchase_price'].mean().sort_values(ascending=False).head(5)
expensive_cities

city
Rungsted Kyst    2.374111
Nordhavn         2.275879
Klampenborg      2.269829
Vedbæk           2.164031
Skodsborg        1.751051
Name: purchase_price, dtype: float64

In [27]:
# 5 cities with maximum unique zip codes
unique_zip_cities = df.groupby('city')['zip_code'].nunique().sort_values(ascending=False).head(5)
unique_zip_cities

city
København K        118
Frederiksberg C     75
København V         68
København S          2
Aabenraa             1
Name: zip_code, dtype: int64

### Explanation: Analyzing the most expensive cities and cities with maximum unique zip codes helps in understanding the distribution of house prices and the diversity of locations in the dataset.

## Proximity Measures

In [28]:
# Proximity measure between house_type and sqm
house_type_sqm = df.groupby('house_type')['sqm'].mean()
house_type_sqm

house_type
Apartment     -0.747149
Farm           1.170793
Summerhouse   -0.797788
Townhouse     -0.365133
Villa          0.396344
Name: sqm, dtype: float64

In [29]:
# Proximity measure between house_type and purchase_price
house_type_price = df.groupby('house_type')['purchase_price'].mean()
house_type_price

house_type
Apartment      0.285320
Farm           0.457560
Summerhouse   -0.397465
Townhouse      0.102063
Villa         -0.079251
Name: purchase_price, dtype: float64

In [30]:
# Proximity measure between no_rooms and purchase_price
rooms_price = df.groupby('no_rooms')['purchase_price'].mean()
rooms_price

no_rooms
-2.031545   -0.360696
-1.429747   -0.158516
-0.827948   -0.100874
-0.226150   -0.083132
 0.375649    0.022465
 0.977447    0.143540
 1.579246    0.293342
 2.181044    0.440668
 2.782843    0.680939
 3.384641    0.936761
 3.986440    0.817666
 4.588238    1.046060
 5.190037    1.645477
 5.791835    2.250896
 6.393634    2.481953
Name: purchase_price, dtype: float64

### Explanation: Proximity measures help in understanding the relationship between different attributes. For example, the average square meters and purchase price for each house type can provide insights into the market trends.

## Feature Selection

In [31]:
# Feature selection using filter methods
from sklearn.feature_selection import SelectKBest, f_regression, mutual_info_regression

# Define independent variables and target variable
X = df.drop(columns=['purchase_price'])
y = df['purchase_price']

# Apply SelectKBest with f_regression
kbest_f = SelectKBest(score_func=f_regression, k=5)
kbest_f.fit(X, y)
features_f = X.columns[kbest_f.get_support()]
features_f

ValueError: could not convert string to float: '2024-10-24'

In [ ]:
# Apply SelectKBest with mutual_info_regression
kbest_mi = SelectKBest(score_func=mutual_info_regression, k=5)
kbest_mi.fit(X, y)
features_mi = X.columns[kbest_mi.get_support()]
features_mi

In [ ]:
# Apply correlation method
correlation = df.corr()
correlation_target = abs(correlation['purchase_price'])
relevant_features = correlation_target[correlation_target > 0.5]
relevant_features

### Explanation: Feature selection is performed to identify the most relevant features for predicting the target variable. We use different filter methods such as f_regression, mutual_info_regression, and correlation to select the top features.

## Comparison of Feature Selection Methods

In [ ]:
# Compare the top 5 features from each method
comparison_df = pd.DataFrame({'f_regression': features_f, 'mutual_info_regression': features_mi, 'correlation': relevant_features.index})
comparison_df

### Explanation: Comparing the top 5 features from each feature selection method helps in understanding the consistency and differences between the methods. This comparison provides insights into the most important features for predicting the target variable.

## Correlation Plot

In [ ]:
# Plot correlation between independent features and target variable
plt.figure(figsize=(12, 8))
sns.heatmap(df.corr(), annot=True, cmap='coolwarm')
plt.title('Correlation Plot')
plt.show()

### Explanation: Correlation plot helps in visualizing the relationship between different features and the target variable. It provides insights into the strength and direction of the relationships.

## Visualizations and Other Plots for Analysis and Data Preprocessing

In [ ]:
# Distribution of purchase prices
plt.figure(figsize=(10, 6))
sns.histplot(df['purchase_price'], bins=30, kde=True)
plt.title('Distribution of Purchase Prices')
plt.xlabel('Purchase Price')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Boxplot of purchase prices by house type
plt.figure(figsize=(12, 6))
sns.boxplot(x='house_type', y='purchase_price', data=df)
plt.title('Boxplot of Purchase Prices by House Type')
plt.xlabel('House Type')
plt.ylabel('Purchase Price')
plt.show()

In [ ]:
# Scatter plot of sqm vs purchase price
plt.figure(figsize=(10, 6))
sns.scatterplot(x='sqm', y='purchase_price', data=df)
plt.title('Scatter Plot of SQM vs Purchase Price')
plt.xlabel('SQM')
plt.ylabel('Purchase Price')
plt.show()

### Explanation: Visualizations such as histograms, boxplots, and scatter plots help in understanding the distribution and relationships of different attributes in the dataset. They provide valuable insights for data preprocessing and analysis.

## Handling Outliers

In [ ]:
# Handling outliers using z-score approach
from scipy.stats import zscore

# Calculate z-scores for numeric columns
z_scores = np.abs(zscore(df[numeric_cols]))

# Set a threshold for z-scores
threshold = 3

# Identify outliers
outliers = np.where(z_scores > threshold)

# Remove outliers
df_cleaned = df[(z_scores < threshold).all(axis=1)]
df_cleaned.shape

### Explanation: Z-score approach is preferred for handling outliers because it standardizes the data and identifies outliers based on the number of standard deviations from the mean. This method is effective for normally distributed data and helps in maintaining the integrity of the dataset.

## Techniques Used in Feature Engineering

- Identification of attribute types
- Handling missing data using imputation
- Normalization of numeric attributes
- Analysis of most expensive cities and cities with maximum unique zip codes
- Proximity measures between specified columns
- Feature selection using filter methods (f_regression, mutual_info_regression, correlation)
- Comparison of feature selection methods
- Correlation plot
- Visualizations (histograms, boxplots, scatter plots)
- Handling outliers using z-score approach

## Summary

In this notebook, we performed feature engineering tasks on the DK housing prices dataset. We started by identifying the types of attributes and handling missing data using imputation. We then normalized the numeric attributes to improve the performance of machine learning algorithms. We analyzed the 5 most expensive cities and cities with maximum unique zip codes to understand the distribution of house prices and the diversity of locations.

We calculated proximity measures between house_type and sqm, house_type and purchase_price, and no_rooms and purchase_price to understand the relationship between different attributes. We performed feature selection using three filter methods (f_regression, mutual_info_regression, and correlation) to identify the most relevant features for predicting the target variable. We also compared the top 5 features from each method to understand the consistency and differences between the methods. We plotted the correlation between independent features and the target variable to visualize the relationships.

We created visualizations such as histograms, boxplots, and scatter plots to understand the distribution and relationships of different attributes in the dataset. We handled outliers using the z-score approach to maintain the integrity of the dataset. Finally, we summarized the techniques used in feature engineering, including identification of attribute types, handling missing data, normalization, analysis, proximity measures, feature selection, comparison of feature selection methods, correlation plot, visualizations, and handling outliers.

## Reasons for Handling Data for Each Column

### date
The 'date' column represents the transaction date. It is important to retain this column as it provides temporal information about the transactions. No missing data handling is required for this column.

### quarter
The 'quarter' column represents the quarter based on a standard calendar year. It is important to retain this column as it provides temporal information about the transactions. No missing data handling is required for this column.

### house_id
The 'house_id' column represents a unique house id. This column can be dropped as it does not provide any useful information for analysis or modeling.

### house_type
The 'house_type' column represents the type of house. It is important to retain this column as it provides categorical information about the type of house. Missing data in this column is imputed with the mode.

### sales_type
The 'sales_type' column represents the type of sale. It is important to retain this column as it provides categorical information about the type of sale. Missing data in this column is imputed with the mode. The '-' value is dropped as it does not provide any useful information.

### year_build
The 'year_build' column represents the year the house was built. It is important to retain this column as it provides temporal information about the age of the house. Missing data in this column is imputed with the mean.

### purchase_price
The 'purchase_price' column represents the purchase price in DKK. It is important to retain this column as it is the target variable for modeling. Missing data in this column is imputed with the mean.

### %_change_between_offer_and_purchase
The '%_change_between_offer_and_purchase' column represents the percentage change between the offer and purchase price. It is important to retain this column as it provides information about the negotiation process. Missing data in this column is imputed with the mean.

### no_rooms
The 'no_rooms' column represents the number of rooms. It is important to retain this column as it provides information about the size of the house. Missing data in this column is imputed with the mean.

### sqm
The 'sqm' column represents the number of square meters. It is important to retain this column as it provides information about the size of the house. Missing data in this column is imputed with the mean.

### sqm_price
The 'sqm_price' column represents the purchase price divided by the number of square meters. It is important to retain this column as it provides information about the price per square meter. Missing data in this column is imputed with the mean.

### address
The 'address' column represents the address of the house. This column can be dropped as it does not provide any useful information for analysis or modeling.

### zip_code
The 'zip_code' column represents the zip code of the house. It is important to retain this column as it provides geographical information about the location of the house. Missing data in this column is imputed with the mode.

### city
The 'city' column represents the city of the house. It is important to retain this column as it provides geographical information about the location of the house. Missing data in this column is imputed with the mode.

### area
The 'area' column represents the area of the house. It is important to retain this column as it provides geographical information about the location of the house. Missing data in this column is imputed with the mode.

### region
The 'region' column represents the region of the house. It is important to retain this column as it provides geographical information about the location of the house. Missing data in this column is imputed with the mode.

### nom_interest_rate%
The 'nom_interest_rate%' column represents the Danish nominal interest rate per quarter. It is important to retain this column as it provides economic information that may affect house prices. Missing data in this column is imputed with the mean.

### dk_ann_infl_rate%
The 'dk_ann_infl_rate%' column represents the Danish annual inflation rate per quarter. It is important to retain this column as it provides economic information that may affect house prices. Missing data in this column is imputed with the mean.

### yield_on_mortgage_credit_bonds%
The 'yield_on_mortgage_credit_bonds%' column represents the 30-year mortgage bond rate (without spread). It is important to retain this column as it provides economic information that may affect house prices. Missing data in this column is imputed with the mean.

## Understanding the Most Important Feature

Based on the feature selection methods, the most important feature for predicting the purchase price is the 'sqm' (square meters) of the house. This is because the size of the house is directly related to its value. Larger houses tend to have higher purchase prices, making 'sqm' a crucial factor in determining the price. Additionally, the 'sqm' feature consistently appeared in the top features selected by different methods, further emphasizing its importance.

## Processing the Quarter Column

In [ ]:
# Process the quarter column to ensure consistency
df['quarter'] = df['quarter'].apply(lambda x: f'Q{x}' if isinstance(x, int) else x)
df['quarter'].unique()

### Explanation: Processing the quarter column ensures consistency in the data format. This step converts integer values to a consistent string format (e.g., 'Q1', 'Q2', etc.).