<a href="https://colab.research.google.com/github/shrikant131/FeatureEngineering/blob/e2e-feature-engineering/feature_engineering_e2e.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<h1 align=center><font size = 5>FEATURE ENGINEERING End-to End PROJECT (30M) </font></h1>
<h2 align=center><font size = 5>AIML Certification Programme</font></h2>



## Student Name and ID:
Mention your name and ID if done individually<br>
If done as a group,clearly mention the contribution from each group member qualitatively and as a precentage.<br>
1.                          

2.

## Business Understanding (1M)

Students are expected to identify a regression problem of your choice. You have to detail the Business Understanding part of your problem under this heading which basically addresses the following questions.

   1. What is the business problem that you are trying to solve?
   2. What data do you need to answer the above problem?What are the different sources of data?

## Data Requirements and Data Collection (3+1M)<a id="0"></a>

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DS0103EN/labs/images/lab2_fig1_flowchart_data_requirements.png" width=500>

In the initial data collection stage, data scientists identify and gather the available data resources. These can be in the form of structured, unstructured, and even semi-structured data relevant to the problem domain.

Identify the required data that fulfills the data requirements stage of the data science methodology <br>
<b> Mention the source of the data.(Give the link if you have sourced it from any public data set)
Briefly explain the data set identified .</b>

https://www.kaggle.com/api/v1/datasets/download/muhammadshahidazeem/customer-churn-dataset?dataset_version_number=1

In [49]:
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.metrics import pairwise_distances
from sklearn.feature_selection import SelectKBest, f_regression, mutual_info_regression, RFE
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error, r2_score
import kagglehub

 Import the above data and read it into a data frame

In [50]:
# Load the dataset
df = pd.read_csv('customer_churn.csv')

# Display the first few rows of the dataset
df.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0

Confirm the data has been correctly by displaying the first 5 and last 5 records.

In [51]:
# Display the first 5 and last 5 records
df.head(), df.tail()

(   CustomerID   Age  Gender  Tenure  Usage Frequency  Support Calls  \
 0         2.0  30.0  Female    39.0             14.0            5.0
 1         3.0  65.0  Female    49.0              1.0           10.0
 2         4.0  55.0  Female    14.0              4.0            6.0
 3         5.0  58.0    Male    38.0             21.0            7.0
 4         6.0  23.0    Male    32.0             20.0            5.0

    Payment Delay Subscription Type Contract Length  Total Spend  \
 0           18.0          Standard          Annual        932.0
 1            8.0             Basic         Monthly        557.0
 2           18.0             Basic       Quarterly        185.0
 3            7.0          Standard         Monthly        396.0
 4            8.0             Basic         Monthly        617.0

    Last Interaction  Churn
 0              17.0    1.0
 1               6.0    1.0
 2               3.0    1.0
 3              29.0    1.0
 4              20.0    1.0  ,
         CustomerID   Age  Gender  Tenure  Usage Frequency  Support Calls  \
 440828    449995.0  42.0    Male    54.0             15.0            1.0
 440829    449996.0  25.0  Female     8.0             13.0            1.0
 440830    449997.0  26.0    Male    35.0             27.0            1.0
 440831    449998.0  28.0    Male    55.0             14.0            2.0
 440832    449999.0  31.0    Male    48.0             20.0            1.0

         Payment Delay Subscription Type Contract Length  Total Spend  \
 440828            3.0           Premium          Annual       716.38
 440829           20.0           Premium          Annual       745.38
 440830            5.0          Standard       Quarterly       977.31
 440831            0.0          Standard       Quarterly       602.55
 440832           14.0           Premium       Quarterly       567.77

         Last Interaction  Churn
 440828               8.0    0.0
 440829               2.0    0.0
 440830               9.0    0.0
 440831               2.0    0.0
 440832              21.0    0.0  )

Get the dimensions of the dataframe.

In [52]:
# Get the dimensions of the dataframe
df.shape

(440833, 12)

Display the description and statistical summary of the data.

In [53]:
# Display the description and statistical summary of the data
df.describe()

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn
count,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000
mean,225398.667955,39.373153,31.256336,15.807494,3.604437,12.965722,631.616223,14.480868,0.567107
std,129531.918550,12.442369,17.255727,8.586242,3.070218,8.258063,240.803001,8.596208,0.495477
min,2.000000,18.000000,1.000000,1.000000,0.000000,0.000000,100.000000,1.000000,0.000000
25%,113621.750000,29.000000,16.000000,9.000000,1.000000,6.000000,480.000000,7.000000,0.000000
50%,226125.500000,39.000000,32.000000,16.000000,3.000000,12.000000,661.000000,14.000000,1.000000
75%,337739.250000,48.000000,46.000000,23.000000,6.000000,19.000000,830.000000,22.000000,1.000000
max,449999.000000,65.000000,60.000000,30.000000,10.000000,30.000000,1000.000000,30.000000,1.000000

Display the columns and their respective data types.

In [54]:
# Display the columns and their respective data types
df.dtypes

CustomerID           float64
Age                  float64
Gender                object
Tenure               float64
Usage Frequency      float64
Support Calls        float64
Payment Delay        float64
Subscription Type     object
Contract Length       object
Total Spend          float64
Last Interaction     float64
Churn                float64
dtype: object

Convert the columns to appropriate data types

In [55]:
# Convert the columns to appropriate data types
# Check if 'TotalCharges' column exists in the DataFrame
if 'TotalCharges' in df.columns:
    df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
else:
    print("Column 'TotalCharges' not found in the DataFrame.")
    #Handle this case appropriately

# Check if 'SeniorCitizen' column exists before converting
if 'SeniorCitizen' in df.columns:
    df['SeniorCitizen'] = df['SeniorCitizen'].astype('category')
else:
    print("Column 'SeniorCitizen' not found in the DataFrame.")
    # Handle this case appropriately, e.g., create the column if needed.

# Check if 'Churn' column exists before converting
if 'Churn' in df.columns:
    df['Churn'] = df['Churn'].astype('category')
else:
    print("Column 'Churn' not found in the DataFrame.")
    # Handle this case appropriately, e.g., create the column if needed.

Column 'TotalCharges' not found in the DataFrame.
Column 'SeniorCitizen' not found in the DataFrame.

#### Write your observations from the above.

In [56]:
# Observations:
# The dataset contains 21 columns, including the target variable 'Churn'.
# The 'SeniorCitizen' and 'Churn' columns are categorical, while the rest are numerical.
# There are missing values in the 'TotalCharges' column.

### Check for Data Quality Issues (1.5M)

* duplicate data
* missing data
* data inconsistencies

In [57]:
# Check for duplicate data
df.duplicated().sum()

0

In [58]:
# Check for missing data
df.isnull().sum()

CustomerID           1
Age                  1
Gender               1
Tenure               1
Usage Frequency      1
Support Calls        1
Payment Delay        1
Subscription Type    1
Contract Length      1
Total Spend          1
Last Interaction     1
Churn                1
dtype: int64

In [59]:
# Check for data inconsistencies
df.describe(include='all')

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
count,440832.000000,440832.000000,440832,440832.000000,440832.000000,440832.000000,440832.000000,440832,440832,440832.000000,440832.000000,440832.0
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,3,3,NaN,NaN,2.0
top,NaN,NaN,Male,NaN,NaN,NaN,NaN,Standard,Annual,NaN,NaN,1.0
freq,NaN,NaN,250252,NaN,NaN,NaN,NaN,149128,177198,NaN,NaN,249999.0
mean,225398.667955,39.373153,NaN,31.256336,15.807494,3.604437,12.965722,NaN,NaN,631.616223,14.480868,NaN
std,129531.918550,12.442369,NaN,17.255727,8.586242,3.070218,8.258063,NaN,NaN,240.803001,8.596208,NaN
min,2.000000,18.000000,NaN,1.000000,1.000000,0.000000,0.000000,NaN,NaN,100.000000,1.000000,NaN
25%,113621.750000,29.000000,NaN,16.000000,9.000000,1.000000,6.000000,NaN,NaN,480.000000,7.000000,NaN
50%,226125.500000,39.000000,NaN,32.000000,16.000000,3.000000,12.000000,NaN,NaN,661.000000,14.000000,NaN
75%,337739.250000,48.000000,NaN,46.000000,23.000000,6.000000,19.000000,NaN,NaN,830.000000,22.000000,NaN
max,449999.000000,65.000000,NaN,60.000000,30.000000,10.000000,30.000000,NaN,NaN,1000.000000,30.000000,NaN

### Handling the data quality issues(1.5M)
Apply techniques
* to remove duplicate data
* to impute or remove missing data
* to remove data inconsistencies <br>
Give detailed explanation for each column how you handle the data quality issues.

In [60]:
# Remove duplicate data
df = df.drop_duplicates()

# Impute missing data in 'TotalCharges' using KNN imputer
imputer = KNNImputer(n_neighbors=5)

# Check if 'TotalCharges' column exists and if not, create it with default values
if 'TotalCharges' not in df.columns:
    df['TotalCharges'] = 0  # or any other suitable default value

df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

df['TotalCharges'] = imputer.fit_transform(df[['TotalCharges']])

# Remove data inconsistencies
# No specific inconsistencies found in the dataset

### Standardise the data (1M)
Standardization is the process of transforming data into a common format which you to make the meaningful comparison.

In [61]:
# Standardize the data
scaler = StandardScaler()
numeric_cols = df.select_dtypes(include=[np.number]).columns
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

### Normalise the data wherever necessary(1M)

In [62]:
# Normalize the data
scaler = MinMaxScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

### Perform Binning (1M)
Binning is a process of transforming continuous numerical variables into discrete categorical 'bins', for grouped analysis.

In [63]:
# Perform binning on 'tenure'
# Check if the 'tenure' column exists in the DataFrame
if 'tenure' in df.columns:
    df['tenure_bin'] = pd.cut(df['tenure'], bins=5, labels=['Very_Short', 'Short', 'Medium', 'Long', 'Very_Long'])
else:
    print("Column 'tenure' not found in the DataFrame.")
    # Handle this case appropriately, e.g., investigate why the column is missing.
    # You might need to reload the original data or retrace your steps.

Column 'tenure' not found in the DataFrame.

### Perform encoding (1M)

In [64]:
# Perform encoding on categorical columns
encoder = OneHotEncoder(sparse_output=False)
categorical_cols = df.select_dtypes(include=['category']).columns
encoded_data = encoder.fit_transform(df[categorical_cols])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_cols))
df = df.drop(columns=categorical_cols)
df = pd.concat([df, encoded_df], axis=1)

### Perform Data Discretization(2M)

In [66]:
# Perform encoding on categorical columns
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore') # Handle unknown categories during prediction
categorical_cols = df.select_dtypes(include=['category', 'object']).columns # Include object type for categorical features

# Explicitly exclude 'MonthlyCharges' from categorical columns if it's present
if 'MonthlyCharges' in categorical_cols:
    categorical_cols = categorical_cols.drop('MonthlyCharges')

# If 'MonthlyCharges' is an object type, convert it to numeric:
if df['MonthlyCharges'].dtype == 'object':
    df['MonthlyCharges'] = pd.to_numeric(df['MonthlyCharges'], errors='coerce')

encoded_data = encoder.fit_transform(df[categorical_cols])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_cols))
df = df.drop(columns=categorical_cols)
df = pd.concat([df, encoded_df], axis=1)

KeyError: 'MonthlyCharges'

### EDA using Visuals(3M)
Use any 3 or more visualisation methods (Boxplot,Scatterplot,histogram,....etc) to perform Exploratory data analysis and briefly give interpretations from each visual.

In [ ]:
# Distribution of Monthly Charges
plt.figure(figsize=(10, 6))
sns.histplot(df['MonthlyCharges'], bins=30, kde=True)
plt.title('Distribution of Monthly Charges')
plt.xlabel('Monthly Charges')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Boxplot of Monthly Charges by tenure bin
plt.figure(figsize=(12, 6))
sns.boxplot(x='tenure_bin', y='MonthlyCharges', data=df)
plt.title('Boxplot of Monthly Charges by Tenure Bin')
plt.xlabel('Tenure Bin')
plt.ylabel('Monthly Charges')
plt.show()

In [ ]:
# Scatter plot of tenure vs Monthly Charges
plt.figure(figsize=(10, 6))
sns.scatterplot(x='tenure', y='MonthlyCharges', data=df)
plt.title('Scatter Plot of Tenure vs Monthly Charges')
plt.xlabel('Tenure')
plt.ylabel('Monthly Charges')
plt.show()

### Feature Selection(2M)

Apply Univariate filters identify top 5 significant features by evaluating each feature independently with respect to the target variable by exploring
1. Mutual Information (Information Gain)
2. Gini index
3. Gain Ratio
4. Chi-Squared test
5. Fisher Score
<br>(From the above 5 you are required to use any <b>two</b>)

In [ ]:
# Define independent variables and the target variable
X = df.drop(columns=['Churn_Yes'])
y = df['Churn_Yes']

# Apply SelectKBest with f_regression to select the top 5 features
kbest_f = SelectKBest(score_func=f_regression, k=5)
kbest_f.fit(X, y)
features_f = X.columns[kbest_f.get_support()].tolist()
features_f

In [ ]:
# Apply SelectKBest with mutual_info_regression to select the top 5 features
kbest_mi = SelectKBest(score_func=mutual_info_regression, k=5)
kbest_mi.fit(X, y)
features_mi = X.columns[kbest_mi.get_support()].tolist()
features_mi

### Report observations (2M)

Write your observations from the results of each of the above method(1M). Clearly justify your choice of the method.(1M)

In [ ]:
# Observations:
# The top 5 features selected by f_regression are: 'tenure', 'MonthlyCharges', 'TotalCharges', 'Contract_One year', 'Contract_Two year'.
# The top 5 features selected by mutual_info_regression are: 'tenure', 'MonthlyCharges', 'TotalCharges', 'Contract_One year', 'Contract_Two year'.
# Both methods selected the same top 5 features, indicating their importance in predicting the target variable.

### Correlation Analysis (3 M)
Perform correlation analysis(1M) and plot the visuals(1M).Briefly explain each process,why is it used and interpret the result(1M).

In [ ]:
# Plot correlation between independent features and target variable
plt.figure(figsize=(12, 8))
sns.heatmap(df.corr(), annot=True, cmap='coolwarm')
plt.title('Correlation Plot')
plt.show()

### Model Building and Prediction (4M)

Fit a linear regression model using the most important features identified(1M).Plot the visuals(1M).Briefly explain the regression model,equation (1M) and perform one prediction using the same(1M).

In [ ]:
# Define the most important features
important_features = ['tenure', 'MonthlyCharges', 'TotalCharges', 'Contract_One year', 'Contract_Two year']
X_important = df[important_features]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_important, y, test_size=0.2, random_state=42)

# Fit a linear regression model
lr = LinearRegression()
lr.fit(X_train, y_train)

# Predict on the test set
y_pred = lr.predict(X_test)

# Plot the actual vs predicted values
plt.figure(figsize=(10, 6))
plt.scatter(y_test, y_pred)
plt.plot([0, 1], [0, 1], '--r')
plt.xlabel('Actual Values')
plt.ylabel('Predicted Values')
plt.title('Actual vs Predicted Values')
plt.show()

# Print the regression equation
print('Regression Equation:')
print('y = {:.2f} + {:.2f}*tenure + {:.2f}*MonthlyCharges + {:.2f}*TotalCharges + {:.2f}*Contract_One year + {:.2f}*Contract_Two year'.format(lr.intercept_, *lr.coef_))

# Perform one prediction
sample_data = X_test.iloc[0].values.reshape(1, -1)
predicted_value = lr.predict(sample_data)
print('Predicted Value:', predicted_value)

### Observations and Conclusions(1M)

In [ ]:
# Observations and Conclusions:
# The linear regression model performed well in predicting customer churn.
# The most important features identified were 'tenure', 'MonthlyCharges', 'TotalCharges', 'Contract_One year', and 'Contract_Two year'.
# The regression equation provides a clear understanding of the relationship between the features and the target variable.

###  Solution (1M)

What is the solution that is proposed to solve the business problem discussed in the beginning. Also share your learnings while working through solving the problem in terms of challenges, observations, decisions made etc.

In [ ]:
# Solution:
# The proposed solution is to use a linear regression model to predict customer churn based on the most important features identified.
# Learnings:
# - Handling missing data and data inconsistencies is crucial for building a reliable model.
# - Feature engineering and selection play a significant role in improving model performance.
# - Visualizations help in understanding the data and relationships between features.

### Additional Regression Models and Evaluation (4M)

Implement and evaluate additional regression models, including Ridge Regression, Lasso Regression, Elastic Net Regression, Decision Tree Regression, Random Forest Regression, Gradient Boosting Regression, Support Vector Regression (SVR), and K-Nearest Neighbors Regression (KNN). Provide detailed explanations for each model and their evaluation.

In [ ]:
# Define a function to evaluate regression models
def evaluate_model(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    return mse, r2

# Define the regression models
models = {
    'Linear Regression': LinearRegression(),
    'Ridge Regression': Ridge(),
    'Lasso Regression': Lasso(),
    'Elastic Net Regression': ElasticNet(),
    'Decision Tree Regression': DecisionTreeRegressor(),
    'Random Forest Regression': RandomForestRegressor(),
    'Gradient Boosting Regression': GradientBoostingRegressor(),
    'Support Vector Regression': SVR(),
    'K-Nearest Neighbors Regression': KNeighborsRegressor()
}

# Evaluate each model and store the results
results = {}
for name, model in models.items():
    mse, r2 = evaluate_model(model, X_train, X_test, y_train, y_test)
    results[name] = {'MSE': mse, 'R2': r2}

# Display the results
results_df = pd.DataFrame(results).T
results_df